<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" verbose="1" >
    <listeners>
        <listener class-name="com.a101.logger.TestListeners" />
    </listeners>

    <test name="Tests For Hepsiburada"   >
        <classes>
            <class name="com.a101.testRunner.NoneUserLogin" />
            <class name="com.a101.testRunner.UserLogin" />
        </classes>
    </test>
</suite>